body {
    background-color: rgb(180,193,205);
    background-image: url('./images/bg-grad.jpg');
    background-repeat: repeat-x;
    color: black;
    font-family: sans-serif;
    margin: 0;
}

#title {
    background-color: rgb(100,128,150);
    height: 60px;
}

img {
    border: none;
}

hr {
    width: 95%;
    height: 1px;
}

address {
    text-align: center;
    font-size: 60%;
    font-style: normal;
}

h2 {
    background-color: rgb(204,213,221);
    padding: 2px 0.5em 2px 0.5em;
    margin: 0;
    border-bottom: dotted 1px rgb(180,193,205);
    font-family: sans-serif;
    font-size: 120%;
}

h3 {
    padding: 2px 0.5em 2px 0.5em;
    margin: 0;
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
}

h4 {
    padding: 2px 0.5em 2px 0.5em;
    margin: 0;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
}

p, dl, ul, ol {
    padding: 0.5em;
    margin: 0;
}

ul, ol {
    padding: 0.5em;
    margin: 0 0 0 0.25in;
}

li {
}

blockquote {
    padding: 0.5em;
    margin: 0 0.25in 0 0.25in;
}

.section {
    background: white;
    border-color: rgb(24,24,24);
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    padding: 0;
    margin-bottom: 0.5em;
}

#menu {
    background: black;
    color: white;
    font-family: sans-serif;
}

#menu a, #menu a:visited {
    background: black;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    background: black;
    color: white;
    text-decoration: underline;
}

#submenu {
    background: rgb(90%,97%,99%);
    font-size: 80%;
}

#pagetable tr {
    vertical-align: top;
}

#pagetable {
    width: 100%;
}

#pagecolumn1 {
    width: 175px;
    font-family: sans-serif;
    padding: 0;
}

#pagecolumn1 a, #pagecolumn1 a:visited {
    color: rgb(0,0,164);
    text-decoration: none;
}

#pagecolumn1 a:hover {
    text-decoration: underline;
}

#pagecolumn2 {
    padding: 0;
}

#pagecolumn2 a, #pagecolumn2 a:visited {
    color: rgb(0,0,164);
    text-decoration: underline;
}

#pagecolumn2 a:hover {
    background-color: rgb(180,193,205);
    text-decoration: underline;
}

#bookmarks {
    padding-left: 0.25in;
    font-size: 80%;
    white-space: nowrap;
}
